Repository omni-us/jsonargparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-config-validate, mypy, pycodestyle, pylint

circleci-config-validate:
  name: circleci config validate -c .circleci/config.yml
  entry: bash -c ' if [ "$(which circleci)" = "" ]; then echo "$(tput setaf 6) Skipped, circleci command not found $(tput sgr0)"; else circleci config validate -c .circleci/config.yml; fi'
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: mypy jsonargparse*/*.py
  entry: bash -c "mypy jsonargparse*/*.py"
  language: system
  pass_filenames: false
  verbose: true

pycodestyle:
  name: pycodestyle
  entry: pycodestyle
  language: system
  verbose: true

pylint:
  name: pylint --rcfile=setup.cfg
  entry: pylint --rcfile=setup.cfg
  language: system
  verbose: true

Fix for discard init_args after class_path change causes error #205.
  CHANGELOG.rst
  jsonargparse/namespace.py
  jsonargparse/typehints.py
  jsonargparse_tests/test_link_arguments.py
  jsonargparse_tests/test_signatures.py
Due: mypy, pycodestyle, pylint

- Added new resolver that identifies parameter types from stub files *.pyi. - The signatures extras now installs the typeshed-client package.
  CHANGELOG.rst
  README.rst
  jsonargparse/_stubs_resolver.py
  jsonargparse/core.py
  jsonargparse/optionals.py
  jsonargparse/parameter_resolvers.py
  jsonargparse_tests/base.py
  jsonargparse_tests/test_parameter_resolvers.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_stubs_resolver.py
  setup.cfg
Due: mypy, pycodestyle, pylint

- Added support for relative paths within remote fsspec/url config files. - New context manager methods for path types: open and relative_path_context. - validators package is no longer a dependency.
  CHANGELOG.rst
  README.rst
  jsonargparse/optionals.py
  jsonargparse/util.py
  jsonargparse_tests/test_core.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_optionals.py
  jsonargparse_tests/test_util.py
  setup.cfg
Due: mypy, pycodestyle, pylint

Refactor type registering.
  jsonargparse/typing.py
  jsonargparse_tests/test_typing.py
Due: mypy, pycodestyle, pylint

Fix argument links with target a subclass mixed with other types not working #208.
  CHANGELOG.rst
  jsonargparse/link_arguments.py
  jsonargparse_tests/test_link_arguments.py
Due: mypy, pycodestyle, pylint

Separate readme section for override order.
  README.rst
Due: none

- Fixed failure when using a sequence type and the default is a tuple. - Fixed incorrect error line breaks and indentation.
  CHANGELOG.rst
  jsonargparse/typehints.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_typehints.py
Due: mypy, pycodestyle, pylint

A few minor fixes and improvements.
  .circleci/config.yml
  .github/workflows/code-checks.yml
  .github/workflows/tests.yml
  README.rst
  jsonargparse/actions.py
  jsonargparse/core.py
  jsonargparse/typing.py
  setup.cfg
  sphinx/conf.py
  sphinx/index.rst
Due: circleci-config-validate, mypy, pycodestyle, pylint

Bump version: 4.18.0 → 4.19.0
  .bumpversion.cfg
  .pre-commit-config.yaml
  .sonarcloud.properties
  CHANGELOG.rst
  jsonargparse/__init__.py
  setup.cfg
Due: mypy, pycodestyle, pylint

- Path's skip_check parameter is now deprecated and will be removed in v5.0.0. - Modifying Path attributes is deprecated, in v5.0.0 they will be properties without a setter.
  .github/codeql-config.yml
  .github/workflows/codeql.yml
  CHANGELOG.rst
  jsonargparse/deprecated.py
  jsonargparse/typing.py
  jsonargparse/util.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_typehints.py
  jsonargparse_tests/test_util.py
Due: mypy, pycodestyle, pylint

A few minor fixes.
  README.rst
  jsonargparse/core.py
  jsonargparse/namespace.py
  jsonargparse_tests/test_typehints.py
Due: mypy, pycodestyle, pylint

Change circleci config to use token when uploading packages to pypi.
  .circleci/config.yml
Due: circleci-config-validate

ActionPathList is now deprecated and will be removed in v5.0.0.
  CHANGELOG.rst
  README.rst
  jsonargparse/actions.py
  jsonargparse/deprecated.py
  jsonargparse/loaders_dumpers.py
  jsonargparse/typehints.py
  jsonargparse/util.py
  jsonargparse_tests/test_actions.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_typehints.py
  sphinx/conf.py
Due: mypy, pycodestyle, pylint

Added a security policy.
  SECURITY.rst
Due: none

Create SECURITY.md
  .github/SECURITY.md
  SECURITY.rst
Due: none

- ArgumentParser.error_handler is now deprecated and will be removed in v5.0.0. - When parsing fails now argparse.ArgumentError is raised instead of ParserError.
  CHANGELOG.rst
  README.rst
  jsonargparse/__init__.py
  jsonargparse/actions.py
  jsonargparse/core.py
  jsonargparse/deprecated.py
  jsonargparse/jsonnet.py
  jsonargparse/typehints.py
  jsonargparse/util.py
  jsonargparse_tests/test_actions.py
  jsonargparse_tests/test_argcomplete.py
  jsonargparse_tests/test_core.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_jsonnet.py
  jsonargparse_tests/test_jsonschema.py
  jsonargparse_tests/test_link_arguments.py
  jsonargparse_tests/test_loaders_dumpers.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_stubs_resolver.py
  jsonargparse_tests/test_typehints.py
  jsonargparse_tests/test_typing.py
Due: mypy, pycodestyle, pylint

Fixed add_subcommands failure when parser has required argument and default config available #232.
  CHANGELOG.rst
  jsonargparse/core.py
  jsonargparse_tests/test_core.py
Due: mypy, pycodestyle, pylint

Minor fixes: broken link, type annotations, docstrings, formatting.
  .pre-commit-config.yaml
  jsonargparse/core.py
  jsonargparse/formatters.py
  setup.cfg
Due: mypy, pycodestyle, pylint

CLI support for callable class instances #238.
  CHANGELOG.rst
  jsonargparse/cli.py
  jsonargparse/typehints.py
  jsonargparse_tests/base.py
  jsonargparse_tests/test_cli.py
Due: mypy, pycodestyle, pylint

pass `fail_untyped` to dataclasses
  jsonargparse/signatures.py
Due: mypy, pycodestyle, pylint

update changelog
  CHANGELOG.rst
Due: none

add documentation in function
  jsonargparse/signatures.py
Due: mypy, pycodestyle, pylint

add tests
  jsonargparse_tests/test_signatures.py
Due: mypy, pycodestyle, pylint

fix changelog typo
  CHANGELOG.rst
Due: none

update changelog added section
  CHANGELOG.rst
Due: none

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Path conditions:
  circleci-config-validate: any of: .circleci/config.yml
  mypy: any of: \.py$
  pycodestyle: any of: \.py$
  pylint: any of: \.py$
