Repository omni-us/jsonargparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-config-validate, pycodestyle, pylint

.pre-commit-config.yaml:

fail_fast: true

ci:
  skip:
  - pycodestyle
  - pylint
  - tox
  - coverage

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: .bumpversion.cfg

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/autoflake
  rev: v2.0.1
  hooks:
  - id: autoflake

- repo: local
  hooks:

  - id: twine-check
    name: twine check [on bumpversion]
    entry: bash -c '
      if [ "${BUMPVERSION_NEW_VERSION+x}" = "" ]; then
        echo "$(tput setaf 6) Skipped, only runs when bumping version $(tput sgr0)";
      else
        ./setup.py bdist_wheel;
        twine check dist/*.whl;
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: changelog-check
    name: changelog check [on bumpversion]
    entry: bash -c '
      if [ "${BUMPVERSION_NEW_VERSION+x}" = "" ]; then
        echo "$(tput setaf 6) Skipped, only runs when bumping version $(tput sgr0)";
      else
        CHANGELOG=$(grep -E "^v.+\..+\..+ \(....-..-..\)" CHANGELOG.rst | head -n 1);
        EXPECTED="v$BUMPVERSION_NEW_VERSION ($(date -u +%Y-%m-%d))";
        if [ "$CHANGELOG" != "$EXPECTED" ] && [ $(echo $BUMPVERSION_NEW_VERSION | grep -cE "[0-9.]+(\.dev|rc)[0-9]+") = 0 ]; then
          if [ $(grep -c "^v$BUMPVERSION_NEW_VERSION " CHANGELOG.rst) = 1 ]; then
            echo "Updating the date for v$BUMPVERSION_NEW_VERSION in CHANGELOG.rst";
            sed -i "s|^v$BUMPVERSION_NEW_VERSION .*|$EXPECTED|" CHANGELOG.rst;
            git add CHANGELOG.rst;
          else
            echo "Expected release in CHANGELOG.rst to be "$EXPECTED" or not have a definitive date.";
            exit 1;
          fi
        fi
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: circleci-config-validate
    name: circleci config validate -c .circleci/config.yml
    entry: bash -c '
      if [ "$(which circleci)" = "" ]; then
        echo "$(tput setaf 6) Skipped, circleci command not found $(tput sgr0)";
      else
        circleci config validate -c .circleci/config.yml;
      fi'
    language: system
    files: .circleci/config.yml
    pass_filenames: false
    verbose: true

  - id: pycodestyle
    name: pycodestyle
    entry: pycodestyle --exclude=sphinx/conf.py,setup.py --ignore=E241,E265,E128,E266,E226,E722,E252,E231,W291,E303,E221,E402,E306,E704,E251,E301,W504,E302 --max-line-length=180
    language: system
    types: [python]
    verbose: true

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    verbose: true

  - id: tox
    name: tox --parallel
    entry: tox --parallel
    language: system
    pass_filenames: false
    verbose: true

  - id: doctest
    name: sphinx-build -M doctest sphinx sphinx/_build sphinx/index.rst
    entry: bash -c '
      if [ "$(which sphinx-build)" = "" ]; then
        echo "$(tput setaf 6) Skipped, sphinx-build command not found $(tput sgr0)";
      else
        sphinx-build -M doctest sphinx sphinx/_build sphinx/index.rst;
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: coverage
    name: ./setup.py test_coverage
    entry: ./setup.py test_coverage
    language: system
    pass_filenames: false
    verbose: true

- Refactored signature and typehints tests using pytest. - Reorganized some tests into new modules: test_paths, test_subclasses.
  .gitignore
  .pre-commit-config.yaml
  jsonargparse_tests/base.py
  jsonargparse_tests/conftest.py
  jsonargparse_tests/test_dataclass_like.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_optionals.py
  jsonargparse_tests/test_parameter_resolvers.py
  jsonargparse_tests/test_paths.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_stubs_resolver.py
  jsonargparse_tests/test_subclasses.py
  jsonargparse_tests/test_typehints.py
  jsonargparse_tests/test_typing.py
  jsonargparse_tests/test_util.py
  sphinx/conf.py
Due: pycodestyle, pylint

Fixed failure for nested argument in optional dataclass type (#289).
  CHANGELOG.rst
  jsonargparse/typehints.py
  jsonargparse_tests/test_dataclass_like.py
Due: pycodestyle, pylint

- Refactored core and deprecated tests using pytest. - Reorganized subcommand-related tests into new module. - Other minor test improvements.
  jsonargparse_tests/base.py
  jsonargparse_tests/conftest.py
  jsonargparse_tests/test_actions.py
  jsonargparse_tests/test_cli.py
  jsonargparse_tests/test_core.py
  jsonargparse_tests/test_dataclass_like.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_link_arguments.py
  jsonargparse_tests/test_loaders_dumpers.py
  jsonargparse_tests/test_namespace.py
  jsonargparse_tests/test_optionals.py
  jsonargparse_tests/test_paths.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_stubs_resolver.py
  jsonargparse_tests/test_subclasses.py
  jsonargparse_tests/test_subcommands.py
  jsonargparse_tests/test_typehints.py
  jsonargparse_tests/test_typing.py
  jsonargparse_tests/test_util.py
Due: pycodestyle, pylint

- Fix lazy_instance regression introduced in 540f91f. - Small improvements to LazyInitBaseClass.
  jsonargparse/typehints.py
Due: pycodestyle, pylint

Fixed argument links applied on parse silently ignored when the source validation fails.
  CHANGELOG.rst
  jsonargparse/link_arguments.py
  jsonargparse_tests/test_link_arguments.py
Due: pycodestyle, pylint

Bump version: 4.21.1 → 4.21.2
  .bumpversion.cfg
  .circleci/config.yml
  .sonarcloud.properties
  CHANGELOG.rst
  jsonargparse/__init__.py
Due: circleci-config-validate, pycodestyle, pylint

Fix regular expressions vulnerable to polynomial runtime due to backtracking.
  CHANGELOG.rst
  jsonargparse/core.py
  jsonargparse/loaders_dumpers.py
Due: pycodestyle, pylint

Fixed attrs fields with factory default causes parse to fail (#299).
  CHANGELOG.rst
  jsonargparse/parameter_resolvers.py
  jsonargparse_tests/test_dataclass_like.py
Due: pycodestyle, pylint

stop subclass dive if you hit bad import
  jsonargparse/typehints.py
Due: pycodestyle, pylint

Rename default branch to main https://inclusivenaming.org/word-lists/tier-1/_master/
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/code-checks.yml
  .github/workflows/codeql.yml
  .github/workflows/tests.yml
  README.rst
Due: none

chlog
  CHANGELOG.rst
Due: none

adding test
  jsonargparse_tests/test_typehints.py
Due: pycodestyle, pylint

warning
  jsonargparse/typehints.py
Due: pycodestyle, pylint

import
  jsonargparse_tests/test_typehints.py
Due: pycodestyle, pylint

ruff: I
  .pre-commit-config.yaml
  pyproject.toml
Due: none

precommit
  jsonargparse_tests/test_typehints.py
Due: pycodestyle, pylint

fixing
  .pre-commit-config.yaml
Due: none

precommit
  jsonargparse/actions.py
Due: pycodestyle, pylint

ruff: isort (#306)
  .pre-commit-config.yaml
  jsonargparse/actions.py
  pyproject.toml
Due: pycodestyle, pylint

traceback
  jsonargparse/typehints.py
Due: pycodestyle, pylint

rev
  jsonargparse/typehints.py
Due: pycodestyle, pylint

Apply suggestions from code review
  jsonargparse/typehints.py
Due: pycodestyle, pylint

stop subclass dive if you hit bad import (#304)
  CHANGELOG.rst
  jsonargparse/typehints.py
  jsonargparse_tests/test_typehints.py
Due: pycodestyle, pylint

Change github workflow testing from python 3.7 to 3.9.
  .github/workflows/tests.yml
Due: none

- Parameters that receive a path now also accept os.PathLike type. - Minor improvements to Path class.
  CHANGELOG.rst
  jsonargparse/core.py
  jsonargparse/util.py
  jsonargparse_tests/test_actions.py
  jsonargparse_tests/test_core.py
  jsonargparse_tests/test_formatters.py
  jsonargparse_tests/test_jsonnet.py
  jsonargparse_tests/test_jsonschema.py
  jsonargparse_tests/test_optionals.py
  jsonargparse_tests/test_paths.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_subclasses.py
  jsonargparse_tests/test_typehints.py
  jsonargparse_tests/test_util.py
Due: pycodestyle, pylint

- Catch warning in test_get_all_subclass_paths_import_error. - Some changes to f-strings. - Update ruff version in pre-commit config.
  .pre-commit-config.yaml
  jsonargparse/link_arguments.py
  jsonargparse/signatures.py
  jsonargparse_tests/test_typehints.py
Due: pycodestyle, pylint

class_from_function now supports func_return parameter to specify the return type of the function (lightning-flash#1564).
  CHANGELOG.rst
  jsonargparse/util.py
  jsonargparse_tests/test_util.py
Due: pycodestyle, pylint

Added _ prefix to module names to be explicit about non-public API.
  .pre-commit-config.yaml
  CHANGELOG.rst
  jsonargparse/__init__.py
  jsonargparse/_actions.py
  jsonargparse/_cli.py
  jsonargparse/_common.py
  jsonargparse/_core.py
  jsonargparse/_deprecated.py
  jsonargparse/_formatters.py
  jsonargparse/_jsonnet.py
  jsonargparse/_jsonschema.py
  jsonargparse/_link_arguments.py
  jsonargparse/_loaders_dumpers.py
  jsonargparse/_namespace.py
  jsonargparse/_optionals.py
  jsonargparse/_parameter_resolvers.py
  jsonargparse/_signatures.py
  jsonargparse/_stubs_resolver.py
  jsonargparse/_type_checking.py
  jsonargparse/_typehints.py
  jsonargparse/_util.py
  jsonargparse/typing.py
  jsonargparse_tests/__init__.py
  jsonargparse_tests/conftest.py
  jsonargparse_tests/test_cli.py
  jsonargparse_tests/test_core.py
  jsonargparse_tests/test_dataclass_like.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_jsonnet.py
  jsonargparse_tests/test_loaders_dumpers.py
  jsonargparse_tests/test_namespace.py
  jsonargparse_tests/test_optionals.py
  jsonargparse_tests/test_parameter_resolvers.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_stubs_resolver.py
  jsonargparse_tests/test_typehints.py
  jsonargparse_tests/test_util.py
Due: pycodestyle, pylint
