Repository omni-us/jsonargparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-config-validate, mypy

circleci-config-validate:
  name: circleci config validate -c .circleci/config.yml
  entry: bash -c ' if [ "$(which circleci)" = "" ]; then echo "$(tput setaf 6) Skipped, circleci command not found $(tput sgr0)"; else circleci config validate -c .circleci/config.yml; fi'
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: mypy jsonargparse*/*.py
  entry: bash -c "mypy jsonargparse*/*.py"
  language: system
  pass_filenames: false
  verbose: true

- Added support for postponed evaluation of annotations PEP 563 (#120). - Backport types in python<=3.9 to support PEP 585 and 604 for postponed evaluation of annotations (#120).
  .circleci/config.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  README.rst
  jsonargparse/_backports.py
  jsonargparse/_link_arguments.py
  jsonargparse/_parameter_resolvers.py
  jsonargparse/_signatures.py
  jsonargparse/_stubs_resolver.py
  jsonargparse/_util.py
  jsonargparse_tests/conftest.py
  jsonargparse_tests/test_actions.py
  jsonargparse_tests/test_argcomplete.py
  jsonargparse_tests/test_backports.py
  jsonargparse_tests/test_cli.py
  jsonargparse_tests/test_core.py
  jsonargparse_tests/test_dataclass_like.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_formatters.py
  jsonargparse_tests/test_jsonnet.py
  jsonargparse_tests/test_jsonschema.py
  jsonargparse_tests/test_link_arguments.py
  jsonargparse_tests/test_loaders_dumpers.py
  jsonargparse_tests/test_namespace.py
  jsonargparse_tests/test_optionals.py
  jsonargparse_tests/test_parameter_resolvers.py
  jsonargparse_tests/test_paths.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_stubs_resolver.py
  jsonargparse_tests/test_subclasses.py
  jsonargparse_tests/test_subcommands.py
  jsonargparse_tests/test_typehints.py
  jsonargparse_tests/test_typing.py
  jsonargparse_tests/test_util.py
  pyproject.toml
Due: circleci-config-validate, mypy

Added support for range as a type.
  CHANGELOG.rst
  README.rst
  jsonargparse/typing.py
  jsonargparse_tests/test_typing.py
Due: mypy

Bump version: 4.21.2 → 4.22.0
  .bumpversion.cfg
  .sonarcloud.properties
  CHANGELOG.rst
  jsonargparse/__init__.py
Due: mypy

Fixed parameter without default and type optional incorrectly added as a required argument (#312).
  CHANGELOG.rst
  jsonargparse/_signatures.py
  jsonargparse/_typehints.py
  jsonargparse_tests/test_dataclass_like.py
Due: mypy

Fix class_from_function not failing when return annotation is missing.
  CHANGELOG.rst
  jsonargparse/_util.py
  jsonargparse_tests/test_parameter_resolvers.py
  jsonargparse_tests/test_util.py
Due: mypy

Fixed: add_subclass_arguments with single base class and no docstring, incorrectly shown as tuple in help.
  CHANGELOG.rst
  jsonargparse/_signatures.py
  jsonargparse_tests/test_link_arguments.py
  pyproject.toml
Due: mypy

Fixed: when all arguments of a group are derived from links, a config load option is incorrectly shown in help.
  CHANGELOG.rst
  jsonargparse/_link_arguments.py
  jsonargparse_tests/test_link_arguments.py
Due: mypy

Fixed: printing help fails for parsers that have a link whose target is an argument lacking type and help.
  CHANGELOG.rst
  jsonargparse/_link_arguments.py
  jsonargparse_tests/test_link_arguments.py
Due: mypy

Bump version: 4.22.0 → 4.22.1
  .bumpversion.cfg
  .sonarcloud.properties
  CHANGELOG.rst
  jsonargparse/__init__.py
Due: mypy

Switch test coverage to use pytest-cov.
  .circleci/config.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  jsonargparse_tests/__main__.py
  pyproject.toml
  setup.py
Due: circleci-config-validate, mypy

Removing unused project configuration.
  .gitignore
  jsonargparse_tests/__main__.py
  pyproject.toml
Due: mypy

Fixed: invalid environment variable names when env_prefix is derived from a prog containing dashes.
  CHANGELOG.rst
  jsonargparse/_formatters.py
  jsonargparse_tests/test_core.py
Due: mypy

Diverse fixes.
  README.rst
  jsonargparse/_core.py
  jsonargparse/_deprecated.py
  jsonargparse/_link_arguments.py
  jsonargparse/_loaders_dumpers.py
  jsonargparse/_parameter_resolvers.py
  jsonargparse/_signatures.py
  jsonargparse/_typehints.py
  jsonargparse/typing.py
  jsonargparse_tests/test_link_arguments.py
  pyproject.toml
Due: mypy

Fixed: pylance unable to resolve types from jsonargparse.typing.
  CHANGELOG.rst
  jsonargparse/_optionals.py
  jsonargparse/typing.pyi
Due: mypy

Fixed: pylance unable to resolve types from jsonargparse.typing.
  jsonargparse/_optionals.py
Due: mypy

Fixed inconsistent ARG: and missing ENV: in help when default_env=True.
  CHANGELOG.rst
  jsonargparse/_formatters.py
  jsonargparse_tests/test_formatters.py
  jsonargparse_tests/test_signatures.py
  jsonargparse_tests/test_subclasses.py
Due: mypy

- Minor fix to readme. - Improve the writing of some messages.
  README.rst
  jsonargparse/_core.py
Due: mypy

Fix unit tests
  jsonargparse_tests/test_core.py
Due: mypy

Fixed: typing.Literal types skipped on python 3.9 when typing_extensions is installed (lightning#18125 comment).
  CHANGELOG.rst
  jsonargparse/_typehints.py
  jsonargparse_tests/test_typehints.py
Due: mypy

Classes created with class_from_function now have a valid import path (#309).
  CHANGELOG.rst
  README.rst
  jsonargparse/_util.py
  jsonargparse_tests/test_util.py
Due: mypy

readme: fix link to docs
  README.rst
Due: none

Update README.rst
  README.rst
Due: none

readme: fix link to docs (#329)
  README.rst
Due: none

- Switch away from setup.py to build package. - Other minor fixes.
  .circleci/config.yml
  .pre-commit-config.yaml
  README.rst
  pyproject.toml
Due: circleci-config-validate

Path conditions:
  circleci-config-validate: any of: .circleci/config.yml
  mypy: any of: \.py$
