Repository omni-us/jsonargparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-config-validate, mypy

.pre-commit-config.yaml:

ci:
  skip:
  - mypy
  - tox
  - coverage
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit suggestions'
  autoupdate_schedule: quarterly

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: .bumpversion.cfg

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.272
  hooks:
  - id: ruff
    args: ["--fix"]

- repo: local
  hooks:

  - id: twine-check
    name: twine check [on bumpversion]
    entry: bash -c '
      if [ "${BUMPVERSION_NEW_VERSION+x}" = "" ]; then
        echo "$(tput setaf 6) Skipped, only runs when bumping version $(tput sgr0)";
      else
        ./setup.py bdist_wheel;
        twine check dist/*.whl;
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: changelog-check
    name: changelog check [on bumpversion]
    entry: bash -c '
      if [ "${BUMPVERSION_NEW_VERSION+x}" = "" ]; then
        echo "$(tput setaf 6) Skipped, only runs when bumping version $(tput sgr0)";
      else
        CHANGELOG=$(grep -E "^v.+\..+\..+ \(....-..-..\)" CHANGELOG.rst | head -n 1);
        EXPECTED="v$BUMPVERSION_NEW_VERSION ($(date -u +%Y-%m-%d))";
        if [ "$CHANGELOG" != "$EXPECTED" ] && [ $(echo $BUMPVERSION_NEW_VERSION | grep -cE "[0-9.]+(\.dev|rc)[0-9]+") = 0 ]; then
          if [ $(grep -c "^v$BUMPVERSION_NEW_VERSION " CHANGELOG.rst) = 1 ]; then
            echo "Updating the date for v$BUMPVERSION_NEW_VERSION in CHANGELOG.rst";
            sed -i "s|^v$BUMPVERSION_NEW_VERSION .*|$EXPECTED|" CHANGELOG.rst;
            git add CHANGELOG.rst;
          else
            echo "Expected release in CHANGELOG.rst to be "$EXPECTED" or not have a definitive date.";
            exit 1;
          fi
        fi
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: circleci-config-validate
    name: circleci config validate -c .circleci/config.yml
    entry: bash -c '
      if [ "$(which circleci)" = "" ]; then
        echo "$(tput setaf 6) Skipped, circleci command not found $(tput sgr0)";
      else
        circleci config validate -c .circleci/config.yml;
      fi'
    language: system
    files: .circleci/config.yml
    pass_filenames: false
    verbose: true

  - id: mypy
    name: mypy jsonargparse*/*.py
    entry: bash -c "mypy jsonargparse*/*.py"
    language: system
    types: [python]
    pass_filenames: false
    verbose: true

  - id: tox
    name: tox --parallel
    entry: tox --parallel
    language: system
    pass_filenames: false
    verbose: true

  - id: doctest
    name: sphinx-build -M doctest sphinx sphinx/_build sphinx/index.rst
    entry: bash -c '
      if [ "$(which sphinx-build)" = "" ]; then
        echo "$(tput setaf 6) Skipped, sphinx-build command not found $(tput sgr0)";
      else
        sphinx-build -M doctest sphinx sphinx/_build sphinx/index.rst;
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: coverage
    name: ./setup.py test_coverage
    entry: ./setup.py test_coverage
    language: system
    pass_filenames: false
    verbose: true

Bump version: 4.22.1 → 4.23.0
  .bumpversion.cfg
  .sonarcloud.properties
  CHANGELOG.rst
  jsonargparse/__init__.py
Due: mypy

Fixed: save fails when a link target is a required parameter nested in a subclass (#332).
  CHANGELOG.rst
  jsonargparse/_typehints.py
  jsonargparse_tests/test_link_arguments.py
Due: mypy

- test windows python 3.7-3.11. - pre-commit test python 3.6 using docker. - fix pre-commit bash commands for failures.
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  README.rst
Due: none

Fix typing.Literal types skipped when typing_extensions is installed (lightning#18184).
  CHANGELOG.rst
  jsonargparse/_typehints.py
Due: mypy

Fixed: class_from_function failing when called on the same function multiple times (lightning#18180).
  CHANGELOG.rst
  jsonargparse/_util.py
  jsonargparse_tests/test_util.py
Due: mypy

Prevent showing errors when running ps on windows.
  CHANGELOG.rst
  jsonargparse/_optionals.py
Due: mypy

update _typehints error types for "Union"
  jsonargparse/_typehints.py
Due: mypy

Some fixes and improvements to the readme.
  README.rst
Due: none

Change heavy git hooks from pre-commit to pre-push stage.
  .pre-commit-config.yaml
  CONTRIBUTING.rst
Due: none

Bump version: 4.23.0 → 4.23.1
  .bumpversion.cfg
  .sonarcloud.properties
  CHANGELOG.rst
  README.rst
  jsonargparse/__init__.py
  setup.py
Due: mypy

Some minor fixes.
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  sphinx/conf.py
Due: mypy

Create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: none

Added citation file.
  CITATION.cff
Due: none

New option in dump for including link targets.
  CHANGELOG.rst
  jsonargparse/_core.py
  jsonargparse_tests/test_link_arguments.py
Due: mypy

Added support for decimal.Decimal as a type.
  CHANGELOG.rst
  README.rst
  jsonargparse/typing.py
  jsonargparse_tests/test_typing.py
Due: mypy

Change use of deprecated codecov bash script.
  .circleci/config.yml
Due: circleci-config-validate

Fix typos
  README.rst
  jsonargparse/_link_arguments.py
Due: mypy

CLI now accepts components as a dict, such that the keys define names of the subcommands (#334).
  CHANGELOG.rst
  README.rst
  jsonargparse/_cli.py
  jsonargparse_tests/test_cli.py
Due: mypy

- Added resolving of types that use TYPE_CHECKING blocks. - Improved resolving of nested forward reference types.
  .circleci/config.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  README.rst
  jsonargparse/_parameter_resolvers.py
  jsonargparse/_postponed_annotations.py
  jsonargparse/_stubs_resolver.py
  jsonargparse_tests/test_backports.py
  jsonargparse_tests/test_postponed_annotations.py
Due: circleci-config-validate, mypy

Fix Path properties not shown in API Reference.
  jsonargparse/_util.py
Due: mypy

Added yesqa to pre-commit config.
  .pre-commit-config.yaml
Due: none

Updates to contributing guide.
  .github/FUNDING.yml
  CONTRIBUTING.rst
Due: none

Deprecate action=ActionJsonnetExtVars in favor of type=dict.
  CHANGELOG.rst
  DOCUMENTATION.rst
  jsonargparse/_actions.py
  jsonargparse/_core.py
  jsonargparse/_deprecated.py
  jsonargparse/_jsonnet.py
  jsonargparse_tests/test_deprecated.py
  jsonargparse_tests/test_jsonnet.py
  jsonargparse_tests/test_jsonschema.py
Due: mypy

Fix sphinx including unexpected items in public API.
  jsonargparse/typing.py
  jsonargparse_tests/test_typing.py
Due: mypy
