Repository omni-us/jsonargparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-config-validate, mypy

Path conditions:
  circleci-config-validate: any of: .circleci/config.yml
  mypy: any of: \.py$

docs fix
  DOCUMENTATION.rst
Due: none

- New function extend_base_type for easy creation and registering of custom types that extend a base type (#195). - Document the requirements for creating and using custom types (#195).
  CHANGELOG.rst
  DOCUMENTATION.rst
  jsonargparse/typing.py
  jsonargparse_tests/test_typing.py
Due: mypy

fix `parse_args` for `Callable` with multiple input arguments (#383)
  CHANGELOG.rst
  DOCUMENTATION.rst
  jsonargparse/_typehints.py
  jsonargparse_tests/test_typehints.py
Due: mypy

- Support Annotated types either ignoring the metadata or using it for validation in case of pydantic types (#384). - Fix pydantic models and dataclasses not working for pydantic>=2.0.0.
  .circleci/config.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  DOCUMENTATION.rst
  jsonargparse/_common.py
  jsonargparse/_optionals.py
  jsonargparse/_parameter_resolvers.py
  jsonargparse/_signatures.py
  jsonargparse/_typehints.py
  jsonargparse/typing.py
  jsonargparse_tests/test_dataclass_like.py
  pyproject.toml
Due: circleci-config-validate, mypy

- Fix unsupported pop/get default incorrectly sets default as None (lightning#18616). - Parameters with default and without type, now get as type Union[type(default), Any].
  CHANGELOG.rst
  jsonargparse/_parameter_resolvers.py
  jsonargparse/_signatures.py
  jsonargparse_tests/test_link_arguments.py
  jsonargparse_tests/test_parameter_resolvers.py
Due: mypy

Bump version: 4.24.1 → 4.25.0
  .bumpversion.cfg
  .pre-commit-config.yaml
  .sonarcloud.properties
  CHANGELOG.rst
  README.rst
  jsonargparse/__init__.py
Due: mypy

Fix pre-commit config.
  .pre-commit-config.yaml
Due: none

Fix issues with ruff and pre-commit.
  .pre-commit-config.yaml
  jsonargparse/_namespace.py
  jsonargparse/_typehints.py
  pyproject.toml
Due: mypy

Change mypy to be run in a pre-commit managed env.
  .github/workflows/code-checks.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  jsonargparse/_optionals.py
  jsonargparse/_parameter_resolvers.py
  jsonargparse_tests/conftest.py
  pyproject.toml
Due: mypy

Fix failures with subcommands and default_config_files when keys are repeated (#160).
  CHANGELOG.rst
  jsonargparse/_core.py
  jsonargparse_tests/test_subcommands.py
Due: mypy

Add pip cache to doctest in github workflow.
  .github/workflows/tests.yml
Due: none

Add support for on parse argument links with target subclasses in a list (#394, lightning#18161).
  CHANGELOG.rst
  DOCUMENTATION.rst
  jsonargparse/_link_arguments.py
  jsonargparse/_typehints.py
  jsonargparse_tests/test_link_arguments.py
Due: mypy

Subclass types no longer allow class instance to be set as default (lightning#18731).
  CHANGELOG.rst
  jsonargparse/_core.py
  jsonargparse/_signatures.py
  jsonargparse/_typehints.py
  jsonargparse_tests/test_subclasses.py
Due: mypy

Added unit test for lazy_instance and get_defaults.
  jsonargparse_tests/test_subclasses.py
Due: mypy

Fixed key related errors printing messages within single quotes.
  CHANGELOG.rst
  jsonargparse/_actions.py
  jsonargparse/_core.py
  jsonargparse/_namespace.py
  jsonargparse_tests/test_subclasses.py
  jsonargparse_tests/test_subcommands.py
Due: mypy

JSONARGPARSE_DEBUG follow environment variables standard of non-empty values.
  CHANGELOG.rst
  DOCUMENTATION.rst
  jsonargparse/_core.py
  jsonargparse/_util.py
  jsonargparse_tests/test_core.py
Due: mypy

AST resolver now supports some local import cases.
  CHANGELOG.rst
  DOCUMENTATION.rst
  jsonargparse/_core.py
  jsonargparse/_parameter_resolvers.py
  jsonargparse_tests/test_parameter_resolvers.py
Due: mypy

Fix choices not validated when value comes from config file (#404).
  CHANGELOG.rst
  jsonargparse/_core.py
  jsonargparse_tests/test_core.py
Due: mypy

Bump version: 4.25.0 → 4.26.0
  .bumpversion.cfg
  .sonarcloud.properties
  CHANGELOG.rst
  jsonargparse/__init__.py
Due: mypy

Fix .readthedocs.yml
  .readthedocs.yml
Due: none

Fix failures when choices is a dict_keys object and value non-hashable.
  CHANGELOG.rst
  jsonargparse/_core.py
  jsonargparse_tests/test_core.py
Due: mypy

Fix AST resolver not using the correct component globals in some cases.
  CHANGELOG.rst
  jsonargparse/_parameter_resolvers.py
  jsonargparse_tests/conftest.py
  jsonargparse_tests/test_parameter_resolvers.py
Due: mypy

Bump version: 4.26.0 → 4.26.1
  .bumpversion.cfg
  .sonarcloud.properties
  CHANGELOG.rst
  jsonargparse/__init__.py
Due: mypy
